<h1>My shopping cart</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<colgroup>
		<col />
		<col style="width:80px" />
		<col style="width:50px" />
		<col style="width:48px" />
	</colgroup>
	<!--
	<tr>
		<td>{name}</td>
		<td class="right"><b>{price} &euro;</b></td>
		<td class="right">{count}x</td>
		<td class="center"><a href="javascript:void(0)" class="remove"><span class="icon icon-remove-sign red"></span></a></td>
	</tr>
	-->
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<colgroup>
		<col />
		<col style="width:80px" />
		<col style="width:50px" />
		<col style="width:48px" />
	</colgroup>	
	<tr>
		<td class="bg-smoke b fs14">Summarize</td>
		<td class="bg-smoke right fs14"><b>{price} &euro;</b></td>
		<td class="bg-smoke right fs14">{count}x</td>
		<td class="bg-smoke center">&nbsp;</td>
	</tr>
</table>
<br />
<br />
<div><button name="redirect" itemprop="/cart/order/" class="button">Proceed to Checkout &rarr;</button></div>
<br />